.sidebar {
  height: 100%;
  position: fixed;

  .sidebar-list {
    background: #2D2E2E;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {

      a {
        color: #fff;
        padding: 20px 22px 20px;
        display: block;
      }

      .activated {
        background-color: #00a8ff;
      }
    }
  }

}
